<a href="https://colab.research.google.com/github/PomesHouse/SkillTreePython/blob/main/2_6_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%90%EB%A3%8C%ED%98%95_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-6.파이썬의 자료형:딕셔너리 
---
* 날짜:
* 이름:

## 개념정리
---


딕셔너리(dictionary) 는 `key`와 `value`로 이루어져 있습니다. 마치 사전처럼 특정 `key`에 접근해서 해당 `key`에 해당하는 `value`를 확인할 수 있습니다. 따라서 딕서녀리에서의 인덱싱 방법은 리스트나 튜플과 다르다는 점을 유의해야 합니다.

### **(1) 생성**

`{ }` 기호를 통해 딕셔너리를 생성할 수 있습니다. 집합(set) 과 달리 딕셔너리에는 `key` 와 `value`가 존재하므로 이를 적어줍니다. 학생들의 이름표가 아래 표처럼 기입되어 있다고 가정합시다.

|번호|이름|
|--|--|
|1|김모모|
|2|이모모|
|3|강모모|

1-김모모, 2-이모모, 3-강모모 와 같이 순서쌍으로 되어있는 데이터를 딕셔너리로 아래와 같이 표현할 수 있습니다.
```
students = { 1: '김모모', 2: '이모모', 3: '강모모' }
print( students, type(students) )
```

In [2]:
students = {1:'김모모', 2:'이모모', 3:'강모모'}
print(type(students), students)

<class 'dict'> {1: '김모모', 2: '이모모', 3: '강모모'}

#### **key**

* `a.keys()` : 딕셔너리 `a`의 `key` 값들을 반환합니다.

딕셔너리 `students`의 `key` 값들을 확인해 봅시다.

```
students.keys()
```

In [3]:
students.keys()

dict_keys([1, 2, 3])

반환 값의 타입을 보면 `dict_keys`라는 객체를 돌려주는 것을 볼 수 있습니다. `dict_keys`는 리스트를 사용하는 것과 차이가 거의 없긴 하지만 리스트에서 사용되는 유용한 메서드 (`append`, `remove`, `sort` 등)을 사용할 수 없습니다. 따라서 `dict_keys` 객체를 리스트로 변환하려면 아래와 같이 리스트로 바인딩하고 이 `key`값들을 유용하게 사용할 수 있습니다. 

```
key_list = students.keys()
print(key_list)
```

In [5]:
# dict_keys 타입이기에 list로 바꿔준다.
key_list = list(students.keys())
key_list

[1, 2, 3]

#### **value**

* `a.values()` : 딕셔너리 `a`의 `vlalue` 값들을 반환합니다.

딕셔너리 `students`의 `value` 값들을 확인해 봅시다.

```
students.values()
```

In [6]:
value_list = list(students.values())
value_list

['김모모', '이모모', '강모모']

#### **딕셔너리의 요소**

딕셔너리에는 `key`와 `value`로 구성되어 있습니다. `key`값과 `value`값은 문자열과 수치자료형이 모두 가능합니다.

```
students = { 1: '김모모', 2: '이모모', 3: '강모모' }
print(students)
students = { '김모모': 1, '이모모': 2, '강모모': 3}
print(students)
```

In [7]:
students = { 1: '김모모', 2: '이모모', 3: '강모모' }
print(students)
students = { '김모모': 1, '이모모': 2, '강모모': 3}
print(students)

{1: '김모모', 2: '이모모', 3: '강모모'}
{'김모모': 1, '이모모': 2, '강모모': 3}

* `value` 값은 리스트로 구성될 수 있습니다.

```
students = { 1: ['김모모', '여성'], 2: ['이모모', '여성'], 3: ['강모모', '남성'] } 
print(students)
```

In [8]:
students = {1:['김모모','여성'], 2:['이모모','여성'], 3: ['강모모','남성']} # 쓸데 있음
print(students)

{1: ['김모모', '여성'], 2: ['이모모', '여성'], 3: ['강모모', '남성']}

* `key`값은 리스트로 구성할 수 없습니다.

```
students = { ['김모모', '여성']:1, ['이모모', '여성']:2, ['강모모', '남성']:3 } 
print(students)
```

In [10]:
# students = { ['김모모', '여성']:1, ['이모모', '여성']:2, ['강모모', '남성']:3 } 
# print(students)
# TypeError: unhashable type: 'list'

### **(2) 인덱싱과 슬라이싱**

딕셔너리 자료형은 인덱싱이 가능하지만 슬라이싱은 불가능합니다.

#### **인덱싱**

딕셔너리 자료형에서 인덱싱을 하기 위해서는 `key`값을 이용합니다. 

```
students = { 1: '김모모', 2: '이모모', 3: '강모모' }
print(students)

print(students[1]) 
print(students[2])
print(students[3])
```

In [11]:
students = { 1: '김모모', 2: '이모모', 3: '강모모' }
print(students)

print(students[1]) 
print(students[2])
print(students[3])

# key 값으로 인덱싱,  value 값 출력

{1: '김모모', 2: '이모모', 3: '강모모'}
김모모
이모모
강모모

### **(3) 수정과 삭제**


#### **수정**

인덱싱을 이용해 `value`값에 접근하여 값을 수정할 수 있습니다.

```
print(students)
students[1] = "윤모모" # key 1 해당하는 value를 "윤모모"로 변경
print(students)
```

In [12]:
students = { 1: '김모모', 2: '이모모', 3: '강모모' }
students[1] = '윤모모'
print(students)

{1: '윤모모', 2: '이모모', 3: '강모모'}

#### **삭제**

인덱싱을 에용해 `value`값에 접근하고, `del` 을이용해 값을 삭제할 수 있습니다.

```
print(students)
del students[1] # (1-윤모모) 삭제
print(students)
```

In [13]:
students = {1: '윤모모', 2: '이모모', 3: '강모모'}
del students[1]
print(students)

{2: '이모모', 3: '강모모'}


### **(4) 관련 메서드**



* `dict.get(k)` : 딕셔너리 `dict`의 key `k`에 해당하는 value를 반환합니다. 인덱싱과 같은 기능을 합니다. 

```
print(students)
print(students.get(2)) #  key 2에 해당하는 value 출력 (.get 이용하기)
print(students[2]) # key 2에 해당하는 value 출력 (인덱싱 이용하기)
```

In [15]:
students = {2: '이모모', 3: '강모모'}
print(students.get(2))
print(students[2])

이모모
이모모

* `dict.items()` : 딕셔너리 `dict`의 key 와 value를 튜플 쌍으로 반환합니다.


```
print(students.items()) # key-value 쌍 출력
```

In [16]:
print(students.items())

dict_items([(2, '이모모'), (3, '강모모')])

유용하게 사용하기 위해서는 리스트로 바꿔줍니다.

```
item_list = list(students.items())
print(item_list)
```

In [18]:
item_list = list(students.items())
item_list

[(2, '이모모'), (3, '강모모')]

리스트 형식으로 `key`와 `value`값에 적절히 접근할 수 있습니다.

```
print(item_list[0][0]) # 0번째 key
print(item_list[0][1]) # 0번째 value
print(item_list[1][0]) # 1번째 key
print(item_list[1][1]) # 1번째 value
```

In [19]:
print(item_list[0][1]) # 이모모
print(item_list[1][1]) # 강모모
print(item_list[1][0]) # 3
print(item_list[0][0]) # 2

이모모
강모모
3
2

* `dict.clear()` : 딕셔너리 `dict`의 구성요소를 초기화(제거) 합니다.

```
print(students) # students  출력
students.clear() # students 초기화
print(students) # students  출력
```

In [20]:
stduents = students = {2: '이모모', 3: '강모모'}
students.clear()
students

{}

## 문제풀이
---

**예제 01**

과일메뉴와 가격이 다음과 같습니다. 이를 딕셔너리로 저장하세요

|과일|가격|
--|--
사과|1000
바나나|2400
감자|400|
메론|8000
복숭아|4000
딸기|9000

In [21]:
fruits = {'사과':1000, '바나나':2400, '감자':400, '메론':8000, '복숭아':4000, '딸기':9000}

**예제 02**

위에서 만든 딕셔너리에 "포도"를 추가하세요 가격은 6500원입니다.

In [23]:
fruits['포도'] = 6500
print(fruits)

{'사과': 1000, '바나나': 2400, '감자': 400, '메론': 8000, '복숭아': 4000, '딸기': 9000, '포도': 6500}

**예제 03**

위에서 만든 딕셔너리에 "감자"를 삭제하세요

In [24]:
del fruits['감자']
print(fruits)

{'사과': 1000, '바나나': 2400, '메론': 8000, '복숭아': 4000, '딸기': 9000, '포도': 6500}

**예제 04**

복숭아 가격이 올라 4500원이 되었습니다. 가격을 조정하세요

In [25]:
fruits['복숭아'] = 4500
print(fruits)

{'사과': 1000, '바나나': 2400, '메론': 8000, '복숭아': 4500, '딸기': 9000, '포도': 6500}

**예제 05**

위에서 정의한 딕셔너리의 key 값들만 이용해서 아래와 같이 출력되도록 세줄의 코드를 작성하세요

* 코드
```
# key값을 리스트로 변환합니다.
# 리스트를 문자열로 변환합니다.
# 문자열을 출력합니다.
```

* 실행 결과
```
가게 과일 종류는 사과, 바나나, 메론, 봉숭아, 딸기, 포도 입니다!
```

In [26]:
key_list = list(fruits.keys())
key_string = ', '.join(key_list)
print(f'가게 과일 종류는 {key_string} 입니다!')

가게 과일 종류는 사과, 바나나, 메론, 복숭아, 딸기, 포도 입니다!

**예제 06**

위에서 정의한 딕셔너리를 이용해서 사용자가 과일 종류 한가지를 입력하면 해당 과일의 가격을 출력하는 코드를 작성하세요

* 실행 결과
```
>> 어떤 과일을 찾으시나요?: 사과
사과의 가격은 1000원 입니다.
```

In [27]:
fr = input('어떤 과일을 찾으시나요? :')
print(f'{fr}의 가격은 {fruits[fr]}원 입니다.')

어떤 과일을 찾으시나요? :사과
사과의 가격은 1000원 입니다.

**예제 07**

커피를 `key`로, 가격과 재고가 들어있는 리스트를 `value` 로 하는 딕셔너리를 구성하여 `caffe_menu`로 바인딩하세요.

|이름| 가격 | 재고 |
|------| -----|----|
|americano|1000|8
|latte|1200|5
|milk tea|1800|4

In [28]:
caffe_menu = {'americano':[1000, 8], 'latte':[1200, 5], 'milk tea':[1800, 4]}

**예제 08**

americano의 재고를 출력하세요

In [29]:
caffe_menu['americano'][1]

8


**예제 09**

latte의 가격을 출력하세요

In [30]:
caffe_menu['latte'][0]

1200

**예제 10**

모든 가격의 평균을 출력하는 코드를 작성하세요

In [31]:
############################### 어떤 방법으로 했는지 물어보기
caffe_menu = {'americano':[1000, 8], 'latte':[1200, 5], 'milk tea':[1800, 4]}
print((caffe_menu['americano'][0] + caffe_menu['latte'][0] + caffe_menu['milk tea'][0])/len(caffe_menu))

#딕셔너리 자료형은 인덱싱이 가능하지만 슬라이싱은 불가능합니다.

1333.3333333333333

In [45]:
caffe_menu = {'americano':[1000, 8], 'latte':[1200, 5], 'milk tea':[1800, 4]}

value_list = list(caffe_menu.values())
value_dic = dict(value_list)  
price_list = list(value_dic.keys())
print(sum(price_list)/len(price_list))

1333.3333333333333

In [91]:
# <list --> dic 변환 모양 변형되는법 더 실험해보기>

# tl = [[1,2,3],[2,3,4]] 
# ValueError: dictionary update sequence element #0 has length 3; 2 is required
tl = [[1,[1,2]],(2,(3,4)),"ㄱㅅ",{4,"Hello"}, {'hi', 10}]  # 두개씩 짝 지어져 있을 때  dict이 된다.
# {} 안에 들어가 있는 값은 아마도 set이 순서가 없는 타입이다 보니 key, value 값이 랜덤으로 정해지는 모양. 
dict(tl)

{1: [1, 2], 10: 'hi', 2: (3, 4), 'Hello': 4, 'ㄱ': 'ㅅ'}

**예제 11**

가장 비싼 음료를 출력하는 코드를 작성하세요

In [57]:
############################################## 다른방법????
caffe_menu = {'americano':[1000, 8], 'latte':[1200, 5], 'milk tea':[1800, 4]}

key_list = list(caffe_menu.keys())
value_list = list(caffe_menu.values())
print(key_list)
print(value_list)

price_list = list((dict(value_list)).keys())
max_price = max(price_list)
index = price_list.index(max_price)
print(key_list[index])

['americano', 'latte', 'milk tea']
[[1000, 8], [1200, 5], [1800, 4]]
milk tea

**예제 12**

우유값의 인상으로 latte와 milk tea의 가격이 300원씩 올랐습니다. `caffe_menu`에 반영하세요. (딕셔너리 자체를 재바인딩 하지 않도록 코드를 작성하세요.)

In [59]:
caffe_menu = {'americano':[1000, 8], 'latte':[1200, 5], 'milk tea':[1800, 4]}
caffe_menu['latte'][0] += 300
caffe_menu['milk tea'][0] += 300
print(caffe_menu)

{'americano': [1000, 8], 'latte': [1500, 5], 'milk tea': [2100, 4]}

**예제 13**

가격, 재고 외에 판매수 라는 정보를 더 추가하려 합니다. 판매수는 americano 15개, latte 8개, milk tea 5개 입니다. `caffe_menu`의 `value`에 판매수를 추가하세요.  (딕셔너리 자체를 재바인딩 하지 않도록 코드를 작성하세요.)

In [61]:
caffe_menu = {'americano': [1000, 8], 'latte': [1500, 5], 'milk tea': [2100, 4]}
caffe_menu['americano'].append(15)
caffe_menu['latte'].append(8)
caffe_menu['milk tea'].append(5)
print(caffe_menu)

{'americano': [1000, 8, 15], 'latte': [1500, 5, 8], 'milk tea': [2100, 4, 5]}

**예제 14**

재고 자동화로 더이상 재고 데이터가 필요없게 되었습니다. `caffe_menu`에서  재고에 관한 값을 제거하세요. (딕셔너리 자체를 재바인딩 하지 않도록 코드를 작성하세요.)

In [62]:
caffe_menu = {'americano': [1000, 8, 15], 'latte': [1500, 5, 8], 'milk tea': [2100, 4, 5]} # 순서: 가격, 재고, 판매수
caffe_menu['americano'].pop(1)
del caffe_menu['latte'][1]
del caffe_menu['milk tea'][1]
print(caffe_menu)

{'americano': [1000, 15], 'latte': [1500, 8], 'milk tea': [2100, 5]}

**예제 15**

새로운 메뉴 `vanilla latte`가 추가되었습니다. 가격은 2000원이고 판매수는 0입니다. `caffe_menu`에 추가하세요.

In [63]:
caffe_menu = {'americano': [1000, 15], 'latte': [1500, 8], 'milk tea': [2100, 5]}
caffe_menu['vanilla latte'] = [2000, 0]
print(caffe_menu)

{'americano': [1000, 15], 'latte': [1500, 8], 'milk tea': [2100, 5], 'vanilla latte': [2000, 0]}

**예제 16**

아래와 같이 코드를 실행하면 메뉴를 띄우고, 사용자가 메뉴를 입력하면 메뉴에 대한 정보를 출력하는 코드를 작성하세요.

* 실행 결과
```
>> 메뉴: americano * latte * milk tea * vanilla latte
>> 메뉴를 선택하세요: milk tea
milk tea 의 가격은 2100원이고 오늘 5개 팔렸습니다.
```

In [66]:
############################# 다른 방법 생각해보기

caffe_menu = {'americano': [1000, 15], 'latte': [1500, 8], 'milk tea': [2100, 5], 'vanilla latte': [2000, 0]}
print( '메뉴:', " * ".join(list(caffe_menu.keys())))
menu = input('메뉴를 선택하세요: ')
print(f'{menu} 의 가격은 {caffe_menu[menu][0]}원이고 오늘 {caffe_menu[menu][1]}개 팔렸습니다.')

메뉴: americano * latte * milk tea * vanilla latte
메뉴를 선택하세요: milk tea
milk tea 의 가격은 2100원이고 오늘 5개 팔렸습니다.

**예제 17**

아래와 같이 사용자가 0부터 9까지 숫자를 입력하면 한국어로 변환하는 코드를 작성하세요. 

* 실행 결과
```
>> 0부터 9까지 숫자를 입력하세요: 7
7은 한국어로 "칠" 이라고 읽습니다.
```

In [67]:
d = {0:'영',
     1:'일',
     2:'이',
     3:'삼',
     4:'사',
     5:'오',
     6:'육',
     7:'칠',
     8:'팔',
     9:'구'}
n = int(input('0부터 9까지 숫자를 입력하세요: '))
print(f'{n}은 한국어로 "{d[n]}" 이라고 읽습니다.')

0부터 9까지 숫자를 입력하세요: 7
7은 한국어로 "칠" 이라고 읽습니다.

**예제 18**

아래와 같이 딕셔너리가 정의되어 있습니다. 알파벳을 입력하면 아래와 같은 실행 결과를 내는 코드를 작성하세요.

```
abc_dict = {'a': ['apple', 'air'], 'b': ['banana', 'book'] , 'c' : ['cherry', 'car']}
```

* 실행 결과
```
>> alphabet : a
a is apple, a is air
```

* 실행 결과
```
>> alphabet : b
b is banana, b is book
```

In [69]:
abc_dict = {'a': ['apple', 'air'], 'b': ['banana', 'book'] , 'c' : ['cherry', 'car']}

a = input('alphabet : ')
print(f'{a} is {abc_dict[a][0]}, {a} is {abc_dict[a][1]}.')

alphabet : b
b is banana, b is book.

**예제 19**

아래와 같이 딕셔너리가 정의되어 있습니다. 알파벳을 입력하면 아래와 같은 실행 결과를 내는 코드를 작성하세요.

```
abc_dict = {'a': ['apple', 'air'], 'b': ['banana', 'book'] , 'c' : ['cherry', 'car']}
```

* 실행 결과
```
>> alphabet : a
a is Apple, a is Air
```

* 실행 결과
```
>> alphabet : b
b is Banana, b is Book
```

In [71]:
abc_dict = {'a': ['apple', 'air'], 'b': ['banana', 'book'] , 'c' : ['cherry', 'car']}
a = input('alphabet : ')
print(f'{a} is {abc_dict[a][0].capitalize()}, {a} is {abc_dict[a][1].capitalize()}.')

alphabet : b
b is Banana, b is Book.

**예제 20**

아래와 같이 딕셔너리가 정의되어 있습니다. 알파벳을 입력하면 아래와 같은 실행 결과를 내는 코드를 작성하세요.

```
abc_dict = {'a': ['apple', 'air'], 'b': ['banana', 'book'] , 'c' : ['cherry', 'car']}
```

* 실행 결과
```
>> alphabet : a
>> num : 0
a is Apple
```

* 실행 결과
```
>> alphabet : b
>> num : 1
b is Book
```

In [74]:
abc_dict = {'a': ['apple', 'air'], 'b': ['banana', 'book'] , 'c' : ['cherry', 'car']}

a = input('alphabet : ')
n = int(input('num : '))
print(f'{a} is {abc_dict[a][n].capitalize()}')

alphabet : b
num : 1
b is Book