<a href="https://colab.research.google.com/github/PomesHouse/SkillTreePython/blob/main/4_1_%EC%A1%B0%EA%B1%B4%EB%AC%B8___if%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4-1. 조건문 : if문
---
* 날짜:
* 이름:

## 개념정리
---


어떤 특정한 조건에서만 코드가 작동되게 하려면 어떻게 할까요? 파이썬의 경우에는 `if, elif, else` 를 이용하여 코드를 제어합니다. n가지 조건이 나열되어 있을 때 아래와 같이 `if, elif, else`를 배분합니다.


```
if 조건1:
  조건1 만족시 작동
elif 조건2:
  조건2 만족시 작동
...
elif 조건n-1:
  조건n-1 만족시 작동
else:
  조건 n 만족시 작동
```

### **(1) 기본 사용**

간단한 if 문을 작성해 봅시다. if문 하나만으로도 코드를 작성할 수 있습니다. 

```
a = 2

if a==2: # a가 2라면 ,
  print("if문의 영향을 받는 출력") # 이 코드를 실행
```

In [ ]:
a = 2
if a == 2:
    print('If문의 영향을 받는 출력')

If문의 영향을 받는 출력

#### **들여쓰기**

if 문 아래의 `print` 코드는 몇칸을 뛴 후 작성한 것을 볼 수 있습니다. 이를 들여쓰기라고 합니다. 파이썬에서 들여쓰기 한 코드는 들여쓰기를 하기 전 코드의 영향력 아래에 있음을 의미합니다.

따라서 위코드에서  `print("if문의 영향을 받는 출력")` 이 부분은 if문의 영향을 받기 때문에 `a==1`일 때만 코드가 실행됩니다.

만약 if문의 영향을 끝내고 싶다면 들여쓰기를 하지 않고 코드를 작성하면 됩니다.

a 가 2가 아니지만 `print("if문의 영향을 받지 않는 출력")` 줄은 if문의 영향을 받지 않기 때문에 a 값과 상관없이 출력이 됩니다.

```
a = 0

if a==2: # a가 2라면 ,
  print("if문의 영향을 받는 출력") # 이 코드를 실행
print("if문의 영향을 받지 않는 출력") # 이 코드는 항상 실행됨

```

In [ ]:
a = 0

if a == 2:
    print("If문의 영향을 받는 출력")
    print('계속 영향 받고 있는 출력')
print('If문의 영향을 받지 않는 출력')

If문의 영향을 받지 않는 출력

#### **`elif`**


만약 조건을 더 추가하고 싶다면 `elif`를 사용합니다. 이제 조건은 더 세분화 할 수 있습니다.

```
a= 3
 
if a ==2: # 첫번째 조건을 만족하면
  print("첫번째 조건을 만족합니다.") # 이 코드를 실행
elif a==3: # 첫번째 조건이 아니라 두번째 조건을 만족하면
  print("두번째 조건을 만족합니다.") # 이 조건을 실행
```

In [ ]:
a = 3

if a == 4:
    print('a==2일때 출력')
elif a == 3:
    print('a==3일때 출력')

# if에 해당하면 elif 를 보지 않고 넘어간다.

a==3일때 출력

In [ ]:
a = 2

if a == 2:
    print('a==2일때 출력')
elif a%2 == 0:
    print('a==3일때 출력')

a==2일때 출력

In [ ]:
a = 2

if a == 2:
    print('a==2일때 출력')
if a%2 ==0:
    print('a==3일때 출력')

a==2일때 출력
a==3일때 출력

한번 더 조건을 더 추가 하고 싶나요? 마찬가지로 `elif`를 사용합니다. 

```
a= 4

if a ==2: # 첫번째 조건을 만족하면 
  print("첫번째 조건을 만족합니다.") # 이 코드를 실행
elif a==3: # 첫번재 조건이 아니라 두번째 조건을 만족하면
  print("두번째 조건을 만족합니다.") # 이 코드를 실행
elif a==4: # 첫번째, 두번째 조건이 아니라 세번째 조건을 만족하면
  print("세번째 조건을 만족합니다.") # 이 코드를 실행
```

In [ ]:
a= 4

if a ==2:  
  print("첫번째 조건을 만족합니다.") 
elif a==3:
  print("두번째 조건을 만족합니다.") 
elif a==4: 
  print("세번째 조건을 만족합니다.")

세번째 조건을 만족합니다.

#### **`else`**

정수는 무한이 많습니다. 2도 아니고, 3도 아니고, 4도 아닌 어느 조건에도 해당하지 않으면 `else`가 실행됩니다.

```
a= 100

if a ==2: # 첫번째 조건을 만족하면 ,
  print("첫번째 조건을 만족합니다.") # 이 코드를 실행
elif a==3: # 첫번재 조건이 아니라 두번째 조건을 만족하면,
  print("두번째 조건을 만족합니다.") # 이 코드를 실행
elif a==4: # 첫번째, 두번째 조건이 아니라 세번째 조건을 만족하면,
  print("세번째 조건을 만족합니다.") # 이 코드를 실행
else: # 어느 조건에도 해당하지 않으면,
  print("어느 조건에도 해당하지 않습니다.") # 이 코드를 실행
```

In [ ]:
a= 10

if a ==2:  
  print("첫번째 조건을 만족합니다.") 
elif a==3:
  print("두번째 조건을 만족합니다.") 
elif a==4: 
  print("세번째 조건을 만족합니다.") 
else: #조건 없다.
    print('그 외 경우')

그 외 경우


### **(2) 여러가지 조건문**

#### **두개 이상의 조건**

여기서 말하는 두개 이상의 조건은 한 if문에 `and`나 `or`로 연결된 다중 조건을 말합니다. 3의 배수를 생각해 봅시다. 3의 배수는 3으로 나누어 떨어집니다. 또한 3의 배수는 3부터 시작합니다. 따라서 이 두가지 조건을 같이 넣어 봅시다.

```
a = 12

if a>=3 and a%3==0: # a가 3의 배수이면
  print(f"{a}는 3의 배수입니다") # 이 코드를 실행
```

코드에서 보듯이 두가지 조건을 연결할 때는 `and` 를 사용합니다. 둘 중 어느 하나만이 아니라 두가지 조건을 모두 만족해야 if문이 실행됩니다.

In [ ]:
a = 12

if a >=3 and a%3==0:
    print(f'{a}는 3의 배수입니다.')

12는 3의 배수입니다.

#### **이중 if 문**


if문 내에 if 문이 들어가 있을 때를 얘기합니다. 이중 if문뿐 아니라 삼중, 사중, 그 이상도 가능합니다. (실제로 잘 사용되지는 않습니다.)

```
a = 12

if a<100: # a가 100보다 작고, 
  if a%2==0: # a가 2로 나누어 떨어지면,
    print("짝수입니다.") # 이 코드를 실행
else:  # a가 100보다 크면
  print("입력숫자초과") # 이 코드를 실행
```

In [ ]:
a = 12

if a < 1000:
    if a%2 == 0 :
        print('짝수입니다.')
else: 
    print('입력숫자초과')

짝수입니다.

### **(3) `if True:`/ `if False:`**

if문의 조건으로 들어간 `<`, `==` 등의 기호는 산술연산자로서 우리는 이미 앞에서 산술연산자에 대해서 배웠습니다. 

산술연산자의 결과로 `True` 혹은 `False` 라는 `bool` 값이 나오게 되기 때문에 위에서 우리가 작성한 if문 줄은 `if True:` 혹은 `if False`와 동일합니다.

이 말은 `if True` 일 때는 그 아래 코드가 실행이 되고 `if False` 일 때는 그 아래 코드가 실행 되지 않음을 의미합니다.

```
if True:
  print("무조건 실행이 됩니다.")

if False:
  print("무조건 실행이 되지 않습니다.")
```

In [ ]:
if True:  # if 다음에는 bool값 
  print("무조건 실행이 됩니다.")

if False:
  print("무조건 실행이 되지 않습니다.")


따라서 if문에는 bool값을 모두 조건문으로 사용할 수 있습니다.  우리는 앞서 `bool` 값을 반환하는 또 다른 연산자들을 배워 봤습니다. 그 중 `is`, `is not`을 이용해 코드를 작성해 보겠습니다.


```
a = 10
b = 10.0

if a is b:
  print("a와 b는 동일")
```

In [ ]:
a = 10
b = 10.0

if a is b:
  print("a와 b는 동일")
if a is not b:
    print('a와 b는 다르다')

a와 b는 다르다

출력이 되나요? `is`는 데이터 타입까지 같아야 `True`라고 하였습니다. 따라서 출력이 되지 않는게 맞습니다.

#### **`in`, `not in`**

우리가 `bool` 시간에 배우지 않은 연산자가 있습니다. 바로 `in`과 `not in` 입니다. 파이썬의 다양한 군집 자료형 안에 특정 요소가 들어있는지, 아닌지를 판별할 수 있는 유용한 연산자 입니다.

* `a in s` : 군집 자료형 `s` 안에 요소 `a`가 존재
* `a not in s` : 군집 자료형 `s` 안에 요소 'a`가 존재하지 않음.

```
s= [1,2,3]
a = 2

if a in s:
  print(f"{a} 가 {s}에 존재합니다.")
```

In [ ]:
s = [1,2,3]
a = 2

if a in s:
    print(f'{a} is in {s}')

2 is in [1, 2, 3]

#### 'pass'

조건문을 작성했으나, 조건에  해당하는 코드를 작성할 필요가 없을 때 사용한다.

In [ ]:
a = 100

if a > 100:
    print('Greater than 100')
elif a < 100:
    pass
else:
    print('It is 100')

It is 100


### **(3) 삼항 연산자**

조건문과 같은 기능을 하는 연산자입니다.  상황에 맞게 잘 사용한다면 코드 길이를 효과적으로 줄일 수 있습니다.


```
# 조건문
if(1) 조건:(2)
  조건이참일때코드(3)
else:(4)
  조건거짓일때코드(5)

# 삼항 연산자
조건참일때코드  if   조건   else   조건거짓일때코드
       (3)      (1)   (2)    (4)       (5)
```

아래 코드를 삼항 연산자로 변환해 봅시다.

```
a = 2

if a==2: 
  print("a는 2다.") 
else:
  print("a는 2가 아니다.") 
```

변환결과

```
a = 2
print("a는 2다.") if a==2 else print("a는 2가 아니다.")
```

In [ ]:
# 먼저 첫 조건의 내용을 쓴다. 
a = 10
print('a is 2') if a == 2 else print('a is not b')

a is not b

## 문제 풀이
---

**예제 01**

아래 코드의 실행결과를 예측하고 직접 실행해보세요

```
if True:
    print("Hello World")
```

In [ ]:
# Hello World
if True:
    print("Hello World")

Hello World


**예제 02**

아래 코드의 실행결과를 예측하고 직접 실행해보세요

```
if False:
    print("Hello World")
```

In [ ]:
#
if False:
    print("Hello World")


**예제 03**

아래 코드의 실행결과를 예측하고 직접 실행해보세요
```
if True:
    print("Hello World")
else
    print("else")
```

In [ ]:
# Hello World
if True:
    print("Hello World")
else:
    print("else")

Hello World

**예제 04**

아래 코드의 실행결과를 예측하고 직접 실행해보세요

```
if False:
    print("Hello World")
else
    print("else")
```

In [ ]:
# else
if False:
    print("Hello World")
else:
    print("else")

else

**예제 05**

아래 코드의 실행결과를 예측하고 직접 실행해보세요
```
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
```

In [ ]:
# Hi, there.
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.


**예제 06**

아래 코드의 실행결과를 예측하고 직접 실행해보세요
```
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
```

In [ ]:
# 1
# 2
# 4
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

**예제 07**

아래 코드의 실행결과를 예측하고 직접 실행해보세요
```
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

```

In [ ]:
# 3
# 5
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

**예제 08**

입력된 문자열의 길이가 3보다 크면 "TRUE!"를 출력하고 그렇지 않으면 'FALSE!'이라는 문자열을 출력하는 코드를 작성하세요. 입력은 내장함수 `input()`를 사용하세요.

In [ ]:
s = input()
if len(s) > 3:
    print("TRUE!")
else:
    print("FALSE!")

hi
FALSE!

**예제 09**

입력된 정수값이 짝수이거나 10보다 낮으면 "target!" 그렇지 않으면 "pass" 라는 문자열을 출력하는 코드를 작성하세요. 입력은 내장함수 `input()`를 사용하세요.

In [ ]:
n = int(input())

if (n%2 == 0) or (n < 10):
    print('target!')
else:
    print("pass")

14
target!

**예제 10**


0에서 100까지의 정수 `n`을 입력받습니다. 만약 범위에 해당하지 않는 정수를 입력하면 에러 메시지를 보내고 종료됩니다. 제대로 입력하였으면 정수 n에 10을 빼고 출력합니다. 만약 10을 뺀 값이 0보다 작으면 0을 출력하세요


* 예시
```
>> n을 입력하세요: 50
40
```

* 예시
```
>> n을 입력하세요: 5
0
```

* 예시
```
>> n을 입력하세요: 200
잘못된 숫자입니다.
```

In [ ]:
n = int(input('n을 입력하세요: '))
if ( 0 <= n <= 100):
    if n - 10  >= 0 :
        print( n - 10)
    else:
        print(0)
else:
    print('잘못된 숫자입니다.')

n을 입력하세요: 200
잘못된 숫자입니다.

**예제 11**

사용자로부터 문자열을 입력받고 옵션에 따라 대문자 또는 소문자로 변경하는 함수를 작성하세요

* 예시
```
>> change_str("aBc")
ABC
```

* 예시
```
>> change_str("aBc", opt='up')
ABC
```

* 예시
```
>> change_str("aBc", opt='down')
abc
```

In [ ]:
def change_str(input, opt = 'up'):
    if opt == 'up':
        print(input.upper()) # a.upper()
    if opt == 'down':
        print(input.lower()) # a.lower()
change_str("aBc")
change_str("aBc", opt='up')
change_str("aBc", opt='down')

ABC
ABC
abc

**예제 12**

학점표를 보고 점수에 따른 학점을 출력하는 함수를 작성하세요

|점수|학점|
--|--
70~100|A
30~70 |B
0~30 | C

* 예시
```
>> cal_grade(50)
학점은 B 입니다.
```

In [ ]:
def cal_grade(input):
    if 100 >= input >= 70:
        print('학점은 A 입니다.')
    elif 70 > input >= 30:
        print('학점은 B 입니다.')
    elif 30> input >= 0:
        print('학점은 C 입니다.')
cal_grade(50)
cal_grade(30)
cal_grade(70)

학점은 B 입니다.
학점은 B 입니다.
학점은 A 입니다.

**예제 13**

주민등록번호 뒷자리의 첫번째 번호를 통해 남여를 구분하세요(1,3 남/ 2,4 여) 만약 주민번호의 규격이 맞지 않으면 에러메시지를 출력하는 코드를 작성하세요. 인풋은 내장함수 `input()`로 받습니다.

* 예시
```
>> 주민번호를 입력하세요: 101010-1010101
남성입니다. 
```

* 예시
```
>> 주민번호를 입력하세요: 101010-101
주민번호가 올바르지 않습니다.
```

In [ ]:
id = input('주민번호를 입력하세요: ').split('-')

if len(id[0]) == 6 and len(id[1]) == 7:
    if id[1].startswith('1')or id[1].startswith('3'):  
        #startswith() ()안에 '1' or '3' 하니까 오류는 안뜨는데 입력값이 3으로 시작하는 경우 '남성입니다'가 실행이 되지 않는다. 
        print('남성입니다.')
    if id[1].startswith ('2') or id[1].startswith('4'):
        print('여성입니다.')
else:
    print('주민번호가 올바르지 않습니다.')

주민번호를 입력하세요: 101010-4000000
여성입니다.

In [ ]:
# indexing 사용해서 하는 방법
id = input('주민번호를 입력하세요: ').split('-')

if len(id[0]) == 6 and len(id[1]) == 7:
    if id[1][0] == '1'or id[1][0] =='3': 
        # == '1' or '3' 하니까 오류는 안뜨는데 입력값이 3으로 시작하는 경우 '남성입니다'가 실행이 되지 않는다. 
        print('남성입니다.')
    if id[1][0] == '2' or id[1][0] =='4':
        print('여성입니다.')
else:
    print('주민번호가 올바르지 않습니다.')

주민번호를 입력하세요: 11
주민번호가 올바르지 않습니다.

**예제 14**

자판기 함수를 생성합니다. 조건은 아래와 같습니다.

- 음료수 종류와 가격이 적힌 메뉴판을 출력합니다.(최소 3가지 이상의 음료 종류를 딕셔너리 형태로 저장하세요)
- 음료수 종류를 입력받고 가격을 안내합니다.
- 금액을 입력받습니다.
- 금액이 충분하면 음료수와 거스름돈을 반환하는 메시지를 출력합니다.
- 금액이 불충분하면 금액을 반환하는 메시지를 출력합니다.

In [ ]:
############### 만약 잘못된 음료수를 입력했다면?
def vending():
    menu = {'Americano':4000, 'Latte':5000, 'Ade': 3000}
    print(menu)
    dr = input('Please choose your drink : ')
    print(f'{dr} is {menu[dr]}won.')
    pay = int(input('Please make a payment : '))
    if pay >= menu[dr]:
            if pay > menu[dr]:
                print(f'Here is your {dr}. Your change is {pay - menu[dr]}won.')
            else:
                print(f'Here is your {dr}')
    else:
        print(f'Not enough cash. Your change is {pay}won.')

vending()

{'Americano': 4000, 'Latte': 5000, 'Ade': 3000}
Please choose your drink : Ade
Ade is 3000won.
Please make a payment : 4500
Here is your Ade. Your change is 1500won.


**예제 15**

두 수를 비교하는 함수를 만듭니다.

* 예시
```
>> comp_ab(1,2)
1<2
```

* 예시
```
>> comp_ab(2,1)
2>1
```

* 예시
```
>> comp_ab(1,1)
1==1
```

In [ ]:
def comp_ab(a, b):
    if a < b:
        print(f'{a} < {b}')
    elif a > b:
         print(f'{a} > {b}')
    else:
         print(f'{a} == {b}')
comp_ab(1,2)
comp_ab(2,1)
comp_ab(1,1)

1 < 2
2 > 1
1 == 1

**예제 16**

아래 두개의 조건중 하나라도 만족하는 숫자를 입력하면 "target", 그렇지 않으면 "pass"를 출력하는 함수를 작성하세요

- 3의 배수이면서, 5의 배수가 아닐때
- 10의 배수일 때

```
>> target_num(15)
pass
```

```
>> target_num(150)
target
```

In [ ]:
################# 0 인경우 다시 생각해보기
def target_num(input):
    if ((input%3 == 0) and (input%5 != 0)) or (input%10 == 0):
        print('target')
    else:
        print('pass')
target_num(15)
target_num(150)

pass
target

**예제 17**

두개의 정수값을 받아서 몇사분면에 위치해 있는지, 혹은 x축, y축,  원점 위에 있는지 판단하는 함수를 작성하세요

* 예시
```
>> which_plane(1,1)
1사분면에 있습니다.
```
* 예시
```
>> which_plane(0,0)
원점에 있습니다.
```

In [ ]:
def which_plane(x, y):
    if  x == y == 0:
        print('원점에 있습니다.')
    elif x == 0:
        print('y축 위에 있습니다.')
    elif y == 0:
        print('x축 위에 있습니다.')
    elif x > 0 and y > 0:
        print('1사분면에 있습니다.')
    elif x < 0 and y > 0:
        print('2사분면에 있습니다.')
    elif x < 0 and y < 0 :
        print('3사분면에 있습니다.')
    else:
        print('4사분면에 있습니다.')

which_plane(0,0)
which_plane(0,15)
which_plane(15,0)
which_plane(200,11) 
which_plane(-13,4)
which_plane(-1,-1)
which_plane(45,-1)

원점에 있습니다.
y축 위에 있습니다.
x축 위에 있습니다.
1사분면에 있습니다.
2사분면에 있습니다.
3사분면에 있습니다.
4사분면에 있습니다.

**예제 18**

시(H)와 분(M)을 입력하면 1시간 30분뒤 시간을 알려주는 함수를 작성하세요

* 예시
```
>> after_time(7,30)
9:00
```

* 예시
```
>> after_time(11,50)
13:20
```

* 예시
```
>> after_time(23,40)
01:10
```

In [ ]:
def after_time(h, m):
    if m + 30 >= 60:
        h = (h + 2)%24
        m = (m + 30)%60
        print('%02d:%02d' % (h,m)) 
    else: 
        h = (h + 1)%24
        m = (m + 30)%60
        print('%02d:%02d' % (h, m))
after_time(7,30)
after_time(11,50)
after_time(23,40)

09:00
13:20
01:10

**예제 19**

0부터 100까지 숫자를 한국어로 변환하는 함수를 작성하세요

* 예시
```
>> num_korean(100)
백
```

* 예시
```
>> num_korean(84)
팔십사
```

In [ ]:
################# 다른 방법 없나?
def num_korean(n):
    d = ['','일','이','삼','사','오','육','칠','팔','구']
    if n == 100:
        print('백')
    elif n == 0:
        print('영')
    elif n < 10:
        print(d[n])
    else:
        if n//10  == 1:
            units = n%10
            print('십' +d[units])
        else:
            tenth = n//10    
            units = n%10
            print(d[tenth]+'십' +d[units])



num_korean(100)
num_korean(84)
num_korean(10)
num_korean(11)
num_korean(21)
num_korean(0)

백
팔십사
십
십일
이십일
영

**예제 20**

두참가자에게 투표를 한 문자열이 주어집니다. 1번과 2번중 더 높은 투표를 받은 사람이 번호를 출력하세요. 만약 투표수가 동일하면 "draw"를 출력합니다.

* 예시
```
>> who_win("122211")
draw
```

* 예시
```
>> who_win("211222212")
2
```

In [ ]:
################## 확시 count 말고 다른거 쓰고 할 수 있나?

def who_win(vote):
    if vote.count('1') > vote.count('2'):
        print(1)
    elif vote.count('1') < vote.count('2'):
        print(2)
    else:
        print('draw')
        
who_win("122211")
who_win("211222212")

draw
2

In [ ]:
# count()는 string에서도 쓸 수 있다.
s = '1222333'
s.count('2')

3