<a href="https://colab.research.google.com/github/PomesHouse/SkillTreePython/blob/main/%EC%BD%94%ED%85%8C_%EC%A0%95%EB%A0%AC_%2B_%ED%95%B4%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#정렬

##K번째수
####문제 설명
배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 합니다.

~~~
예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면
~~~

1. array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]입니다.
2. 1에서 나온 배열을 정렬하면 [2, 3, 5, 6]입니다.
3. 2에서 나온 배열의 3번째 숫자는 5입니다.

배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return 하도록 solution 함수를 작성해주세요.

제한사항
* array의 길이는 1 이상 100 이하입니다.
* array의 각 원소는 1 이상 100 이하입니다.
* commands의 길이는 1 이상 50 이하입니다.
* commands의 각 원소는 길이가 3입니다.

입출력 예
~~~
array	                commands	                         return
[1, 5, 2, 6, 3, 7, 4]	[[2, 5, 3], [4, 4, 1], [1, 7, 3]]	[5, 6, 3]
~~~

입출력 예 설명
~~~
[1, 5, 2, 6, 3, 7, 4]를 2번째부터 5번째까지 자른 후 정렬합니다. [2, 3, 5, 6]의 세 번째 숫자는 5입니다.
[1, 5, 2, 6, 3, 7, 4]를 4번째부터 4번째까지 자른 후 정렬합니다. [6]의 첫 번째 숫자는 6입니다.
[1, 5, 2, 6, 3, 7, 4]를 1번째부터 7번째까지 자릅니다. [1, 2, 3, 4, 5, 6, 7]의 세 번째 숫자는 3입니다.
~~~

In [ ]:
def solution(array, commands):
#[[start, end, th],[],[],[],...]
    answer = []
    for command in commands:
        start, end, th = command
        new_array = array[start-1:end]
        new_array.sort()
        print(new_array[th-1])
        answer.append(new_array[th-1])
        
    return answer
solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]])

In [ ]:
#1 different answer
def solution(array, commands):
    return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

In [ ]:
#2 different answer
def solution(array, commands):
    answer = []
    for command in commands:
        i,j,k = command
        answer.append(list(sorted(array[i-1:j]))[k-1])
    return answer

# 해시

##완주하지 못한 선수 
####문제 설명
수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

제한사항
* 마라톤 경기에 참여한 선수의 수는 1명 이상 100,000명 이하입니다.
* completion의 길이는 participant의 길이보다 1 작습니다.
* 참가자의 이름은 1개 이상 20개 이하의 알파벳 소문자로 이루어져 있습니다.
* 참가자 중에는 동명이인이 있을 수 있습니다.

입출력 예
```
participant	                                        completion                                  return
["leo", "kiki", "eden"]	                            ["eden", "kiki"]	                        "leo"
["marina", "josipa", "nikola", "vinko", "filipa"]	  ["josipa", "filipa", "marina", "nikola"]	"vinko"
["mislav", "stanko", "mislav", "ana"]	              ["stanko", "ana", "mislav"]	             "mislav"
```
입출력 예 설명
```
예제 #1
"leo"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

예제 #2
"vinko"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

예제 #3
"mislav"는 참여자 명단에는 두 명이 있지만, 완주자 명단에는 한 명밖에 없기 때문에 한명은 완주하지 못했습니다
```

In [ ]:
# 나쁜 내 풀이

def solution(participant, completion):
    for p in participant:
        if p in completion:
            completion.remove(p)
        else:
            return p

answer = solution(["mislav", "stanko", "mislav", "ana"],["stanko", "ana", "mislav"])
print(answer)

In [ ]:
# Final Solution (통과했다....) 
def solution(participant, completion):
    participant.sort()
    completion.sort()
    answer = participant[-1]
    for p, c in zip(participant, completion):
        if p != c:
            answer = p
            break
    return answer

In [ ]:
## Shortest answer from the answer pool
import collections


def solution(participant, completion):
    answer = collections.Counter(participant) - collections.Counter(completion)
    return list(answer.keys())[0]
answer = solution(["mislav", "stanko", "mislav", "ana"],["stanko", "ana", "mislav"])
print(answer)

## 전화번호 목록

####문제 설명
전화번호부에 적힌 전화번호 중, 한 번호가 다른 번호의 접두어인 경우가 있는지 확인하려 합니다.

전화번호가 다음과 같을 경우, 구조대 전화번호는 영석이의 전화번호의 접두사입니다.
* 구조대 : 119
* 박준영 : 97 674 223
* 지영석 : 11 9552 4421
전화번호부에 적힌 전화번호를 담은 배열 phone_book 이 solution 함수의 매개변수로 주어질 때, 어떤 번호가 다른 번호의 접두어인 경우가 있으면 false를 그렇지 않으면 true를 return 하도록 solution 함수를 작성해주세요.

제한 사항
* phone_book의 길이는 1 이상 1,000,000 이하입니다.
* 각 전화번호의 길이는 1 이상 20 이하입니다.
* 같은 전화번호가 중복해서 들어있지 않습니다.

입출력 예제
```
phone_book	                      return
["119", "97674223", "1195524421"]	false
["123","456","789"]	              true
["12","123","1235","567","88"]	   false
```
입출력 예 설명
```
입출력 예 #1
앞에서 설명한 예와 같습니다.

입출력 예 #2
한 번호가 다른 번호의 접두사인 경우가 없으므로, 답은 true입니다.

입출력 예 #3
첫 번째 전화번호, “12”가 두 번째 전화번호 “123”의 접두사입니다. 따라서 답은 false입니다.
```

In [ ]:
### 내 풀이
%time
def solution(phone_book):
    phone_book.sort()
    answer = True
    for i in range(len(phone_book)-1):
        if phone_book[i + 1].startswith(phone_book[i]):
            answer = False
            break
    return answer

In [ ]:
### most voted answer
%time
def solution(phoneBook):
    phoneBook = sorted(phoneBook)

    for p1, p2 in zip(phoneBook, phoneBook[1:]):
        if p2.startswith(p1):
            return False
    return True

##위장

####문제 설명
스파이들은 매일 다른 옷을 조합하여 입어 자신을 위장합니다.

예를 들어 스파이가 가진 옷이 아래와 같고 오늘 스파이가 동그란 안경, 긴 코트, 파란색 티셔츠를 입었다면 다음날은 청바지를 추가로 입거나 동그란 안경 대신 검정 선글라스를 착용하거나 해야 합니다.
```
종류	이름
얼굴	동그란 안경, 검정 선글라스
상의	파란색 티셔츠
하의	청바지
겉옷	긴 코트
```
스파이가 가진 의상들이 담긴 2차원 배열 clothes가 주어질 때 서로 다른 옷의 조합의 수를 return 하도록 solution 함수를 작성해주세요.

제한사항
* clothes의 각 행은 [의상의 이름, 의상의 종류]로 이루어져 있습니다.
* 스파이가 가진 의상의 수는 1개 이상 30개 이하입니다.
* 같은 이름을 가진 의상은 존재하지 않습니다.
* clothes의 모든 원소는 문자열로 이루어져 있습니다.
* 모든 문자열의 길이는 1 이상 20 이하인 자연수이고 알파벳 소문자 또는 '_' 로만 이루어져 있습니다.
*스파이는 하루에 최소 한 개의 의상은 입습니다.

입출력 예
clothes	return
[["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]	5
[["crowmask", "face"], ["bluesunglasses", "face"], ["smoky_makeup", "face"]]	3
입출력 예 설명
```
예제 #1
headgear에 해당하는 의상이 yellow_hat, green_turban이고 eyewear에 해당하는 의상이 blue_sunglasses이므로 아래와 같이 5개의 조합이 가능합니다.
1. yellow_hat
2. blue_sunglasses
3. green_turban
4. yellow_hat + blue_sunglasses
5. green_turban + blue_sunglasses


예제 #2
face에 해당하는 의상이 crow_mask, blue_sunglasses, smoky_makeup이므로 아래와 같이 3개의 조합이 가능합니다.
1. crow_mask
2. blue_sunglasses
3. smoky_makeup

```

In [ ]:
# 겹치는거 없을 경우. (답 아님)

def solution(clothes):
    l = []
    for i in range (0, len(clothes)):
        total = 1
        total *= (len(clothes) - i ) 
        l.append(total)
    answer= sum(l)
    return answer

print(solution([["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]))
print(solution([["crowmask", "face"], ["bluesunglasses", "face"], ["smoky_makeup", "face"]]))


## 하나라도 겹치는 경우 구해서 빼자.

In [ ]:
# 답 
def solution(clothes):
    
    dic_clothes = {}
    for i in clothes:
        v,k = i  # i 는 2개의 밸류를 가지고 있는 리스트 [v, k]
        if k in dic_clothes.keys():
            dic_clothes[k] = dic_clothes[k] + [v]
        else:    
            dic_clothes[k] = [v]
    
    total = 1
    for key in dic_clothes:
        total *= (len(dic_clothes[key]) + 1)
    result = total - 1
    return result 

# wardrobe = list(map(lambda x : x, dic_clothes.values())) # dic_clothes 대신 이중 리스트 [['bluesunglasses'], ['yellowhat', 'green_turban']]
  

print(solution([["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]))
print(solution([["crowmask", "face"], ["bluesunglasses", "face"], ["smoky_makeup", "face"]]))

## 잡동산이 (문제 아님)

In [ ]:
def solution(s):
    s = s.split()
    s = list(map(lambda x : list(x), s))
    new_s = []
    print(s)
    for word in s:
        for i in range(0, len(word)):
            if i%2 == 0:
                word[i] = word[i].upper()
            else:
                word[i] = word[i].lower()
        word = ''.join(word)
        new_s.append(word)
    answer = ' '.join(new_s)
    return answer

print(solution("try hello world"))
print(solution("This is poxis world"))

In [ ]:
print(['word', 'hello']) 
print(list('word', 'hello'))

In [ ]:
#변수 자동생성 
df_num=5

for i in range(1,df_num+1):
	globals()['clothes{}'.format(i)]=[]
 
for i in range(1,df_num+1):
 	print(globals()['clothes{}'.format(i)])

for i in range(1,df_)

In [ ]:
########## 변수 자동 생성 ###########

# 데이터 분석을 하다보면 가끔 for문 안에서 계산되는 값들을 각각의 변수에 담고 싶을 때가 있다. (나만 그런가?)

# 그때, 쓸 수 있는 방법이다.

for i in range():
    globals()['변수명'+str(i)] = 계산식

# 또는

for i in range():
    locals()['변수명'+str(i)] = 계산식


# globals() 함수는 전역 변수들을 딕셔너리 형태로, locals() 함수는 지역 변수들을 딕셔너리 형태로 반환한다.

# 'globals()['변수명']  = x' / 'locals()['변수명'] = x' 을 이용하면 해당 딕셔너리에 키와 값을 추가할 수 있다.

# 필요에 맞게 전역(globals) / 지역(locals)을 골라 쓰면 될 것 같다.

for i in range(1, 5):
    globals()['var_'+str(i)] = i + 3